<!DOCTYPE html>
<html lang="en">
<head>

  <title>Merlot</title>
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/main.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>
<body>
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/main.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- <script src="../static/JS/main.js"></script> -->
  <script src="{{ url_for('static', filename='JS/main.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  
</body>

<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">PocketSomm</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/wine" href="#">Wine</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="/wine_map" href="#">Wine Regions Map</a>
      </li>
      <li class="nav-item">
          <a href="/analytics" class="nav-link" href="#">Wine Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact" href="#">Contact</a>
      </li>
      
    </ul>
  </div>
</nav>
<header class="page-header header container-fluid">
	<!-- <div class="description">
  <h1>This Is PocketSomm!</h1>
  <p>Here you can enter any recipe from AllRecipes.com and we can help you decide what wine goes best with the meal! </p>
  <form action="/scrape" method="POST">
    <input name="var">
    <button type="submit" class="btn btn-outline-secondary btn-lg" type="button">Predict</button>
  </form> -->
<!-- </div> -->
</header>
<body>
  <section>
    <article>
  <div class= "container-fluid">
    <div class="description">
      <h1>This Is PocketSomm!</h1>
      <p>Here you can enter any recipe from AllRecipes.com and we can help you decide what wine goes best with the meal! </p>
      <form action="/scrape" method="POST">
        <input name="var">
        <button type="submit" class="btn btn-outline-secondary btn-lg" type="button">Predict</button>
      </form>
    </div>
  </div>
</article>
</section>
<section>
  <div class="container-fluid">
    <div class= "row">
      <div class = "col-3">
        <div class = "card border-dark bg-transparent mb-3">
          <div class = "card-header">
            <b>Results</b>
          </div>
          <div class = "card-body">
            <h4 class="card-title"> {{rName}}</h4>
            <p>Best Match Prediction:<br/> <b>{{prediction}} Wine</b></p>
          </div>
        </div>
      </div>
      <div class = "col-5">
        <div class="card border-dark bg-transparent mb-3" style="width: 100%;">
          <div class="card-header">
              Ingredients
          </div>
          <div class = "card-body">
          <ul class="list-group list-group-flush ">
            {% for item in recipeIng %}
              <li class="list-group-item">{{item}}</li>
            {% endfor %}
          </ul>
          </div>
        </div>  
      </div>
      <div class = "col-4">
        <div class = "card border-dark bg-transparent mb-3">
          <div class = "card-header">
            Nutrition
          </div>
          <div class = "card-body">
            <p>{{rNutr}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
   <footer class="main-footer">
           <a href="https://www.allrecipes.com/">
         <img  src="../static/images/AllRecipes.png"
         width="90" height="70">
          </a>


          <a href="https://www.epicurious.com/">
         <img  src="../static/images/Epicurious.png"
         width="90" height="70">
          </a>

          <a href="https://www.delish.com/">
         <img  src="../static/images/delish.png"
         width="90" height="70">
          </a>
         
  </footer>
</html>
